<!DOCTYPE html>
<html>
    <head>
{% block html_head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block header_title %}{% endblock %}</title>
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/bundles/bootstrap/css/bootstrap.min.css')}}" >
        <link rel="stylesheet" href="{{ asset('/bundles/fontawesome/css/all.min.css')}}" >
        <link rel="stylesheet" href="{{ asset('/bundles/spipuui/css/spipu-ui.css') }}" >
{% endblock %}
    </head>
    <body>
        <header>
            {% include '@SpipuUi/menu.html.twig' with {'currentItem': menuCurrentItem|default('')} %}
        </header>

        <main role="main" class="{% block main_class %}container{% endblock %}">
            {% block notifications_container %}{% if app.request.hasPreviousSession %}
                {% for label, messages in app.flashes %}{% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                {% endfor %}{% endfor %}
            {% endif %}{% endblock %}

            <div class="row">
                {% block main_title_container %}<div class="col-12"><h1>{% block main_title %}{% endblock %}</h1></div>{% endblock %}
                <div class="col-12 pb-1 text-right">{% block main_actions %}{% endblock %}</div>
            </div>

            {% block body %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">{% block footer %}&copy; {{ "now"|date("Y") }} - Spipu{%  endblock %}</span>
            </div>
        </footer>
        <div id="confirmPopup"></div>
        <div id="globalAlertInfo" role="alert"></div>

{% block javascripts %}
        <script src="{{ asset('/bundles/jquery/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/bundles/popper/js/popper.min.js') }}"></script>
        <script src="{{ asset('/bundles/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-document-ready.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-translator.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-bootstrap-tabs.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-alert-info.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-checkbox-tree.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-confirm-action.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-confirm-popup.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-form.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-grid.js') }}"></script>
        <script src="{{ asset('/bundles/spipuui/js/spipu-loading-popup.js') }}"></script>
        {{ include('@SpipuUi/translator.html.twig') }}
{% endblock %}
    </body>
</html>