{% set form = manager.formView %}
{{ form_start(form, {'attr': {'id': 'form_' ~ manager.definition.code}}) }}
    <div class="row" data-form-code="{{ manager.definition.code }}" data-form-role="form">
{% for fieldSet in manager.fieldsets %}{% if not fieldSet.isHiddenInForm %}
    {% include '@SpipuUi/entity/formFieldset.html.twig' with {'manager': manager, 'form': form, 'fieldSet': fieldSet} %}
{% endif %}{% endfor %}
        {{ form_widget(form) }}
        <div class="col-12 col-12" data-form-code="{{ manager.definition.code }}" data-form-role="submit">
            <button class="btn-success btn col-12"><i class="fas fa-{{ manager.submitIcon }}"></i> {{ manager.submitLabel|trans() }}</button>
        </div>
    </div>
{{ form_end(form) }}
