{% set text = data|label_from_option(column.type.options) %}
{% if column.type.translate %}{% set text = text|trans %}{% endif %}
<td data-grid-field-name="{{ column.code }}" class="{{ column.option('td-css-class', 'text-center') }}">{{ column.option('prefix', '') }}{{ text }}{{ column.option('suffix', '') }}</td>
