<td class="{{ column.option('td-css-class', '') }}">
    <div class="badge badge-pill badge-secondary w-100" style="background-color: {{ data }}">
        {{ column.option('prefix', '') }}{{ data }}{{ column.option('suffix', '') }}
    </div>
</td>
