{% if (manager.definition.personalize) %}
    {% set configuration=manager.personalizeDefinition %}
    {% set currentConfig=configuration.configs[configuration.current] %}
    <div class="row collapse" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-create-collapse">
        <div class="col-12 mb-2">
            <div class="card">
                <div class="card-header font-weight-bold">
                    {{ 'spipu.ui.grid.config_create.title'|trans({'%name': currentConfig.name}) }}
                </div>
                <div class="card-body">
                    <form method="get" action="{{ manager.currentUrl }}" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-create">
                        <input name="cf[action]" type="hidden" value="create" />
                        <div class="row mb-2">
                            <div class="col-12 col-md-4">
                                <label>{{ 'spipu.ui.grid.config_create.label'|trans }}</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" name="cf[name]" class="form-control form-control-sm col-12" minlength="3" maxlength="64">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <button type="button" class="btn btn-outline-secondary btn-block" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-cancel"><i class="fas fa-times"></i> {{ 'spipu.ui.action.cancel'|trans }}</button>
                            </div>
                            <div class="col-12 col-sm-6">
                                <button type="submit" class="btn btn-success btn-block" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-create-submit"><i class="fas fa-edit"></i> {{ 'spipu.ui.action.create'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-columns-collapse">
        <div class="col-12 mb-2">
            <div class="card">
                <div class="card-header font-weight-bold">
                    {{ 'spipu.ui.grid.config.title'|trans({'%name': currentConfig.name}) }}
                </div>
                <div class="card-body">
                    <form method="get" action="{{ manager.currentUrl }}" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-form">
                        <input name="cf[action]" type="hidden" value="update" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-form-action" />
                        <input name="cf[id]" type="hidden" value="{{ currentConfig.id }}"/>
                        <div class="row">
                            <div class="col-12">
                                <div class="row mb-2">
                                    <div class="col-12 col-lg-6">
                                        <div class="card">
                                            <ul class="list-group list-group-flush" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-form-columns">
                                                <li class="list-group-item list-group-item-primary font-weight-bold">
                                                    {{ 'spipu.ui.grid.config.columns_show'|trans }}
                                                </li>
                                            {% for columnKey in currentConfig.config.columns %}
                                                <li class="list-group-item">
                                                    <input name="cf[columns][]" type="hidden" value="{{ columnKey }}" />
                                                    <i class="fa fa-grip-lines float-right"></i>
                                                    {{ configuration.columns[columnKey].name }}
                                                </li>
                                            {% endfor %}
                                                <li class="list-group-item list-group-item-dark font-weight-bold">
                                                    <input name="cf[columns][]" type="hidden" value="----" />
                                                    <i class="fa fa-grip-lines float-right"></i>
                                                    {{ 'spipu.ui.grid.config.columns_hide'|trans }}
                                                </li>
                                            {% for column in configuration.columns %}{% if (column.code not in currentConfig.config.columns) %}
                                                <li class="list-group-item">
                                                    <input name="cf[columns][]" type="hidden" value="{{ column.code }}" />
                                                    <i class="fa fa-grip-lines float-right"></i>
                                                    {{ column.name }}
                                                </li>
                                            {% endif %}{% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        {% if manager.definition.sortableColumns|length %}
                                            <div class="card mb-3">
                                                <div class="card-header font-weight-bold">
                                                    {{ 'spipu.ui.grid.sort.title'|trans }}
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <select autocomplete="off" class="custom-select" name="cf[sort][column]">
                                                                {% for column in manager.definition.sortableColumns %}
                                                                    <option value="{{ column.code }}" {% if currentConfig.configSortColumn == column.code %}selected="selected"{% endif %}>{{ column.name|trans }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-5">
                                                            <select autocomplete="off" class="custom-select" name="cf[sort][order]">
                                                                <option value="asc"  {% if currentConfig.configSortOrder == 'asc'  %}selected="selected"{% endif %}>{{ 'spipu.ui.grid.sort.asc'|trans }}</option>
                                                                <option value="desc" {% if currentConfig.configSortOrder == 'desc' %}selected="selected"{% endif %}>{{ 'spipu.ui.grid.sort.desc'|trans }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <!-- div class="card">
                                            <div class="card-header font-weight-bold">
                                                Filters
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-2 mt-2">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        {% if not currentConfig.isDefault %}
                                            <button type="submit" class="btn btn-outline-danger btn-block confirm-action" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-delete"><i class="fas fa-trash"></i> {{ 'spipu.ui.action.delete'|trans }}</button>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <button type="button" class="btn btn-outline-secondary btn-block" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-cancel"><i class="fas fa-times"></i> {{ 'spipu.ui.action.cancel'|trans }}</button>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <button type="submit" class="btn btn-success btn-block" data-grid-code="{{ manager.definition.code }}" data-grid-role="config-save"><i class="fas fa-save"></i> {{ 'spipu.ui.action.save'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}