{% set infoFilters = manager.infoFilters %}
{% set infoQuickSearch = manager.infoQuickSearch %}
{% if infoFilters|length or infoQuickSearch|length %}
<div class="row collapse multi-collapse {% if manager.request.filters|length == 0 %}show{% endif %}" id="quick-search-collapse">
    <div class="col-12 mb-2">
        <form class="form-inline justify-content-center" data-grid-code="{{ manager.definition.code }}" data-grid-role="quick-search-form">
            {% if infoFilters|length %}
                <div class="form-group mb-2  mr-2">
                    <a class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="filter-collapse quick-search-collapse">
                        <i class="fas fa-search"></i> {{ 'spipu.ui.grid.filter.title'|trans }}
                    </a>
                </div>
            {% endif %}
            {% if infoQuickSearch|length %}
                <div class="form-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="custom-select btn btn-outline-secondary border-dark" name="qs[field]">
                                {% for column in infoQuickSearch %}
                                    <option value="{{ column.code }}" {% if (manager.request.quickSearchField == column.code) %}selected{% endif %}>{{ column.name|trans() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" name="qs[value]" value="{{ manager.request.quickSearchValue }}">
                        <div class="input-group-append"><button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i> {{ 'spipu.ui.grid.quick_search.search'|trans }}</button></div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endif %}
{% if infoFilters|length %}
<div class="row collapse multi-collapse {% if manager.request.filters|length > 0 %}show{% endif %}" id="filter-collapse">
    <div class="col-12 mb-2">
        <div class="card">
            <div class="card-header">
                <b>{{ 'spipu.ui.grid.filter.title'|trans }}</b>
            </div>
            <div class="card-body">
                <form method="get" onsubmit="return true;" class="form-inline" action="{{ manager.currentUrl }}" data-grid-code="{{ manager.definition.code }}" data-grid-role="filter-form">
                    <input type="hidden" name="qs[field]" value="" />
                    <div class="col-12">
                        <div class="row mb-2">
{% for column in infoFilters %}
{%     if column.filter.isRange %}
{%         include column.filter.templateFilter with {
                'manager':     manager,
                'column':      column,
                'label':       (column.name|trans) ~ ' - ' ~ ('spipu.ui.grid.filter.from'|trans),
                'input_id':    'filter_' ~ column.code ~ '_from',
                'input_name':  'fl[' ~ column.code ~ '][from]',
                'input_value': manager.request.filter(column.code, 'from')
            } %}
{%         include column.filter.templateFilter with {
                'manager':     manager,
                'column':      column,
                'label':       (column.name|trans) ~ ' - ' ~ ('spipu.ui.grid.filter.to'|trans),
                'input_id':    'filter_' ~ column.code ~ '_to',
                'input_name':  'fl[' ~ column.code ~ '][to]',
                'input_value': manager.request.filter(column.code, 'to')
            } %}
{%     else %}
{%         include column.filter.templateFilter with {
                'manager':     manager,
                'column':      column,
                'label':       column.name|trans,
                'input_id':    'filter_' ~ column.code,
                'input_name':  'fl[' ~ column.code ~ ']',
                'input_value': manager.request.filter(column.code)
            } %}
{%     endif %}
{% endfor %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <button type="button" class="btn btn-secondary m-2 btn-block" data-grid-code="{{ manager.definition.code }}" data-grid-role="filter-cancel"><i class="fas fa-times"></i> {{ 'spipu.ui.grid.filter.clean'|trans }}</button>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <button type="submit" class="btn btn-primary m-2 btn-block" data-grid-code="{{ manager.definition.code }}" data-grid-role="filter-submit"><i class="fas fa-search"></i> {{ 'spipu.ui.grid.filter.search'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
