<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <label for="{{ input_id }}">{{ label }}</label>
    <input type="number" class="form-control form-control-sm col-12 {{ column.option('filter-css-class') }}" id="{{ input_id }}" name="{{ input_name }}" value="{{ input_value }}" />
</div>
