<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <label for="{{ input_id }}">{{ label }}</label>
    <select class="form-select form-select-sm col-12 {{ column.option('filter-css-class') }}" id="{{ input_id }}" name="{{ input_name }}[]" multiple="multiple">
        <option value=""> - - - - - </option>
{% for value, text in column.type.options.options %}
        {% if column.type.translate %}{% set text = text|trans %}{% endif %}
        <option value="{{ value }}" {% if value in input_values %}selected="selected"{% endif %}>{{ text }}</option>
{% endfor %}
    </select>
</div>
