{% use "bootstrap_4_layout.html.twig" %}

{% block file_widget -%}
    {%- set attr = attr|merge({
            placeholder: 'spipu.ui.field.file.placeholder'|trans,
            onchange: "this.parentElement.getElementsByTagName('label')[0].innerText = this.value.replace(/\\\\/g, '/').split('/').pop();"
        })
    -%}
    {{ parent() }}
    <style type="text/css">.custom-file-label::after { content: "{{ 'spipu.ui.field.file.action'|trans }}"; }</style>
{% endblock %}

{% block integerunit_widget -%}
    <div class="input-group">
        {{- block('integer_widget') -}}
        <div class="input-group-append">
            <span class="input-group-text">{{ unit }}</span>
        </div>
    </div>
{%- endblock %}

{% block numberunit_widget -%}
    <div class="input-group">
        {{- block('number_widget') -}}
        <div class="input-group-append">
            <span class="input-group-text">{{ unit }}</span>
        </div>
    </div>
{%- endblock %}
